<% render_pending_tasks! %>
<%= render "form", task: @task, url: new_task_path %>

<%= form_tag update_tasks_in_batch_path, method: "patch" do %>
  <ul>
    <%= render @tasks %>
  </ul>
  <p class="submit">
    <%= submit_tag t("buttons.update_all"), class:"button" %>
  </p>
<% end %>


